{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Project Zephyr{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block header_scripts %} {% endblock header_scripts %}
</head>

<body class="bg-base text-white min-h-screen flex items-center justify-center p-4">
    <main>
        {% block content %} {% endblock content %}
    </main>

    {% if debug %}
    <!-- Development: Vite Dev Server -->
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/static/src/main.js"></script>
    {% else %}
    <script type="module" src="{% static 'dist/js/main.js' %}"></script>
    {% endif %}

    {% block footer_scripts %} {% endblock footer_scripts %}


    {% block footer_file_scripts %} {% endblock footer_file_scripts %}
</body>

</html>