{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Project Zephyr{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block header_scripts %} {% endblock header_scripts %}
</head>

<body class="bg-background text-foreground antialiased">
    {% block header %}
    {% include 'components/header.html' %}
    {% endblock %}

    <main class="min-h-screen">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}

    <script type="module" src="{% static 'dist/js/main.js' %}"></script>

    {% block extra_script_files %}{% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>

</html>